.main {
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ced4da;
  position: absolute;
  z-index: 100;
  width: 100%
}

.logo {
  position: relative;
  width: 156px;
  height: 43px;
}

.btn {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
  margin: 0 10px;
}

.signup {
  background-color: #000;
  color: #fff;
  padding: 15px 40px;
  border-radius: 42px;
}
